.cardInfoContainer {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 100%;
    width: 23.5%;
  }
  .imgContainer {
    border: 1px Solid rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: 10%;
    margin-right: 6%;
    @media screen and (max-width: 900px) {
      margin: 0px auto 0px;
      width: 80%;
      height: 50%;
    }
  }
  #Calories {
    background: rgba(255, 0, 0, 0.1);
  }
  #Protéines {
    background: rgba(74, 184, 255, 0.1);
  }
  #Glucides {
    background: rgba(249, 206, 35, 0.1);
  }
  #Lipides {
    background: rgba(253, 81, 129, 0.1);
  }

  .numberAndUnit {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    @media screen and (max-width: 900px) {
      font-size: 16px;
    }
    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }
  .type {
    font-size: 14px;
    margin: 0;
    @media screen and (max-width: 900px) {
      font-size: 12px;
    }
    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
}
