.error {
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    & h1 {
    font-size: 50px;
    color: #e60000;
    }

    & h2 {
        font-size: 20px;
        color:black;
    }
    & a {
        font-weight: 500;
        font-size: 18px;
        text-decoration-line: underline;
        color: #FF0000;
        margin-top: 5rem;
        text-align: center;  
    }

  }

  