.nutrient{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 5px;
    margin: 0px;
    padding: 0;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 6px;
        margin: 32px;
    }

    &__info h2 {
        margin: 0;
        padding: 0;
    }

    &__info p {
        margin: 0;
        padding: 0;
        color: #74798c;
    }
    
}

.caloriesIcon {
   background-color: #fbeaea;
}

.proteinIcon {
   background-color: #e9f4fb;
}

.carbsIcon {
   background-color: #fbf6e5;
}

.fatIcon {
   background-color: #fbeaef;
}
