.mainContent {
  display: flex;
  margin-left: 8.1%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    margin: 0;
    width: 100%;
  }

  .graphsAndDailyContainer {
    display: flex;
    margin-left: 8.1%;

    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column-reverse;
      margin-left: 0;
      align-items: center;
    }

    .graphsContainer {
      width: 70%;

      @media screen and (max-width: 900px) {
        width: 100%;
      }

      .dailyActivity {
        width: 100%;
        height: 320px;
        background-color: #fbfbfb;
        border-radius: 5px;
      }

      .otherGraph {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 900px) {
          flex-direction: column;
          width: 97%;
          margin: 30px auto;
        }

        .averageSessions {
          background-color: #ff0000;
          width: 32%;
          height: 263px;
          border-radius: 5px;

          @media screen and (max-width: 900px) {
            width: 100%;
            margin-bottom: 10px;
          }

          .pDescription {
            font-size: 15px;
            color: aliceblue;
            opacity: 0.6;
            margin-top: 29px;
            margin-left: 34px;
          }
        }

        .performances {
          background-color: rgb(46, 51, 51);
          width: 32%;
          height: 263px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;

          @media screen and (max-width: 900px) {
            width: 100%;
          }
        }

        .score {
          width: 32%;
          height: 263px;
          border-radius: 5px;
          background-color: #e9e9e9;
          position: relative;

          @media screen and (max-width: 900px) {
            width: 100%;
          }

          .pScore {
            margin-left: 30px;
            margin-top: 24px;
          }

          .radarBarChart {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
          }

          .userObjectif {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .percent {
              text-align: center;
              font-size: 26px;
              font-weight: 500;
            }

            p {
              margin: 0;
              font-size: 16px;
            }
          }
        }
      }
    }

    .dailyIntake {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;

      @media screen and (max-width: 900px) {
        width: 100%;
        height: 15vh;
        margin-left: 0;
        justify-content: space-evenly;
        flex-direction: row;
      }
    }
  }
}