.userSelect {
  width: 100vw;
  height: 95vh;
}
.userContainer {
  height: 95vh;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
    .navlink {
      text-decoration: none;
      color: white;
      text-align: center;
    }

    .userCard {
      background-color:red;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border-radius: 10px;
      margin: 0 10px;
      &:hover {
        transform: scale(1.05);
        }
      @media screen and (max-width: 900px) {
        margin: 10px 0;
      }
      p {
        margin: 0;
      }
    }
    .imgContainer {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
