.topNav {
  width: 100vw;
  height: 91px;
  background-color: black;
  z-index: 3;
  display: flex;
  @media screen and (max-width: 900px) {
    height: 60px;
  }

  img {
    width: 178px;
    height: 61px;
    margin-left: 28px;
    margin-top: 18px;
    &:hover {
      transform: scale(1.05);
      }
    @media screen and (max-width: 900px) {
      width: 100px;
      margin: 0;
      margin-left: 5px;
    }
  }
  .navigation {
    width: 100%;
    font-size: 24px;
    @media screen and (max-width: 900px) {
      font-size: 12px;
    }

    ul {
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;
      margin-top: 0;
      @media screen and (max-width: 900px) {
        padding: 0;
      }

      li {
        color: white;
        text-decoration: none;
        list-style-type: none;
        &:hover {
          transform: scale(1.05);
          }
      }
      .accueil {
        text-decoration: none;
        color: white;
        &:hover {
          transform: scale(1.05);
          }
      }
      .navig {
        text-decoration: none;
        color: white;
      }
    }
  }
}


