.header{
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 91px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation{
  font-weight: 500;
  font-size: 24px;
  width: 80%;
  

  & ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    list-style-type:none;
  }
  & li {
    text-decoration: none;
    color: white;
    &:hover {
      transform: scale(1.05);
      }

  }

  & navLink{
    text-decoration: none;
    //color: white;
    text-decoration-line: none;
    
    
  }
}

.nav__logo{
  height:58px;
}


.navLink active{
  text-decoration: none;
}



@media screen and (min-width : 768px) and (max-width: 1220px){
  .navigation{
      font-size: 20px;
      width: 69%;
  }
}