.title {
  margin-left: 8.1%;
  margin-top: 68px;

  @media screen and (max-width: 900px) {
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .hello {
    display: flex;
    margin: 0;
    font-size: 24px;

    @media screen and (max-width: 900px) {
      font-size: 16px;
      width: 100%;
      justify-content: center;
    }

    h1 {
      margin: 0;
      font-weight: 500;
    }

    .userName {
      color: #e60000;
      margin-left: 10px;
    }
  }

  img {
    width: 20px;
    margin-left: 10px;
  }

  .congrats {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 77px;

    @media screen and (max-width: 900px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}