.elementsToDisplay {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
   
}

.homeSection {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__userNav{
        &__link{
            text-decoration: none;
            color: white;
            background-color: #d30707;
            border-radius: 30px;
            font-weight: 500;
            font-size: 24px;
            padding: 15px 15px;
            margin: 10px 30px;
        

            &:hover {
                transform: scale(1.05);
            }
        }  
    }   
}

.profil img{
    width: 150px;
    height: 150px;
   
}

.containerUser {
    display: grid;
    height: 110vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "userHello userHello userHello userHello"
    "dailyActivity dailyActivity dailyActivity calories"
    "dailyActivity dailyActivity dailyActivity protéines"
    "averageSessions perform score glucides "
    "averageSessions perform score lipides "
    "void void void void ";
    grid-gap:31px;
    padding: 40px 20px 20px 100px;
    max-width: 1245px;
}



.containerHome {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    
    grid-template-areas:
    "homeSection__userNav__link homeSection__userNav__link homeSection__userNav__link homeSection__userNav__link";

    grid-gap:0.2rem;
}
