.dailyActivity{
    grid-area: dailyActivity;
    background: #FBFBFB;
    padding-top: 23px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    
    & h2{
    position: absolute;
    color: #20253a;
    top: 23px;
    left: 32px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    }

    & figure {
        margin: 0;
        padding: 0;
    }

    &__value {
        font-size: 14px;
    }
}
